<footer class="pos-fixed bottom">
    <span class="light pos-absolute right">
        Asset Store Fetcher UI Made with
        <span style="color: #E91E63;">&#9829;</span>
        by
        <a target="_blank" href="https://caiodomingues.github.io">
            Caio Domingues,
        </a>
        <a target="_blank" href="https://github.com/MukaSchultze/asset-store-fetcher/">
            Fetcher
        </a>
        by
        <a target="_blank" href="https://github.com/MukaSchultze/">
            Samuel Schultze
        </a>
        on GitHub.
    </span>
</footer>

</body>

</html>