<div class="leftbar leftbar-content pos-absolute top left">
    Lorem ipsum dolor sit,
    amet consectetur adipisicing elit.
    Sunt dolores possimus expedita, iusto ipsa,
    quis nam aut totam accusamus natus illo eos autem?
    Vel, nostrum quo? Beatae cumque in rem?
</div>